{% extends "layout.html" %}
{% block body %}
  <div class="mdl-cell mdl-cell--6-col">
    <div class="mdl-card mdl-shadow--4dp mdl-card--expand">
      <form  method="post"  action="{{ url_for('submitted_simulation') }}">
        {% for entry in entries %}
          <div class="mdl-card__supporting-text">
              {{ entry['title']|safe }}
              {{ entry['content']|safe }}
          </div>
        {% else %}
          <em>Unbelievable.  No entries here so far</em>
        {% endfor %}
        <input class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="submit" >
        </input>
      </form>
    </div>
  </div>
{% endblock %}
